/* ==|=======================================================================
   modules.blocks.section
   ========================================================================== */

$section-width: 100%;

/*
   properties necessary for responsive images
   @usage:
   @extend %m-image-responsive;
   ---------------------------------------------------------- */

.m-entry {
    width:  $section-width;
    margin: 10px 0px;
    @include at-size($s) {
        margin-bottom: 20px;
    }

    .entry-heading {
        font: font-config(2em, 700);
    }

    h2 {
        font: font-config($font-head-size*0.65, $font-head-weight, $family: $font-head-family);

    }
}

.m-entry-article {
    @extend %l-cleared-container;
    border-bottom: 1px dotted #eee;
    padding-bottom:20px;
    margin:        20px 0px;

    .entry-article-line {
        float: right;
        color: $color-default-gamma;
        font: font-config(0.8em, $family: $font-copy-family);

    }

    .entry-article-name {

        color: $color-entry-name;
    }

    .entry-code-link {
        display: block;
        line-height: 1.4em;
        margin-top:18px;
        height:1.4em;
        font-size: 1em;
        color: $color-code-link;
        .icon-braces { margin-right: 8px;}
    }
    .entry-article-code {
        display:none;
        
        
    }


    .code-open {
        display: block;

    }
}

.typedesc {
    @extend %l-cleared-container;
    margin-top: 6px;
    line-height: $copy-line-height;
    height: $copy-line-height;
}

.typedesc .descclass {
    display: block;
    float:left;
    margin-top: -2px;

}

.typedesc .typechar {
    display: block;
    margin-top: -4px;
    font-weight: $font-copy-strong;
}
.typedesc .typeclass {
    display: block;
    float:left;
    height: $copy-line-height;
    width: $copy-line-height;
    text-align: center;
    margin-right: 6px;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    

}
.typedesc .String {
    color: $color-toc;
    background: $color-c;
}

.typedesc .Number {
    color: $color-toc;
    background: $color-d;
}

.typedesc .Object {
    color: $color-toc;
    background: $color-e;
}

.typedesc .String {
    color: $color-toc;
    background: $color-c;
}
