.m-nav-toc {
    @extend %ul-navigation;

    margin:20px;

    > li {
        @include make-list(vertical, $margin: 0px);
        line-height: 1.4em;
    }

    a {
        color: $color-toc;

    }
    .nav-href {
        width: 100%;
        display:block;
    }

    a:hover {
        background: $color-hover;
    }

    .toc-header {
        background: $color-accent;
    	border-left: 6px solid $color-accent;
        margin: 10px 0px;
        font: font-config(20px, $font-copy-strong);

        a {
            vertical-align: top;
            display: block;
            padding-bottom: 8px;
            margin-left: 20px;
            line-height: 20px;
        }
    }

    h4 {
        margin-bottom: 12px;
        padding-bottom:12px;
        border-bottom: 1px solid $color-accent;
    }
}

.m-nav-toc-pane {
    background: $color-toc-bg;
    color: $color-toc;
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    visibility: hidden;

    h3 {
        width: 100%;
        text-align: left;
        margin: 10px 20px; 

    }
}

.m-nav-toc-current {
  visibility: visible;
}

.settings-themelink {
    display: block;
}

.selecteditem {
    background: $color-selected-bg;
}

.overview-list {
    @extend %ul-navigation;

    > li {
        @extend %l-cleared-container;
        @include make-list(vertical, $margin: 0px);
        width:100%;
        
        padding-bottom: 6px;
        line-height: 1.4em;
        span { float: left; display: block; width: 50%;}
        span.rightside { text-align: right;     }
       
        
    }

    > li.contentitem {
            border-bottom: none;
    }

    .overview-block {
        margin: 6px 0px;

    }

    .overview-blockhead {
        margin-top: 32px;
        padding-bottom:4px;
         border-bottom: 1px solid $color-accent;

    }
}

.options-close {
    @extend %l-cleared-container;

    color: #fff;
    font-size: 125%;
    position: relative;
    text-align:right;

    a {

        margin-right:10px;
        color: #fff;
        font-size: 125%;
    }

}