/* --|-----------------------------------------------------------------------
   typography.fonts
   -------------------------------------------------------------------------- */


//***************** mixin included in this file to get around SASS bug *****************
/* 
  ie6-8:                    eot?#
  ie9:                      eot
  other desktop browsers:   woff
  safari 5.1+:              woff
  safari <5.1:              ttf
  ios < 4.2:                svg

  properties necessary for responsive images
  @usage:
  @extend %m-image-responsive;
  ---------------------------------------------------------- */
@mixin font-fontface($fontname, $filename, $weight: normal, $style: normal, $exclusions: ()) {

  $fullname: #{$root-fonts}/#{$filename};
  $src-list:();

  font-family: $fontname;

  // EOT
  @if false == index($exclusions, eot) { 
    src: url('#{$fullname}.eot');
    $src-list: append($src-list, url('#{$fullname}.eot?#iefix') format('embedded-opentype'), comma);
  }

  // WOFF
  @if false == index($exclusions, woff) { 
    $src-list: append($src-list, url('#{$fullname}.woff') format('woff'), comma);
  }

  // TRUETYPE
  @if false == index($exclusions, ttf) { 
    $src-list: append($src-list, url('#{$fullname}.ttf') format('truetype'), comma);
  }

  src: unquote($src-list); 
  font-weight:  $weight;
  font-style:   $style;       
}
//***************** END  included in this file to get around SASS bug *****************


@font-face { @include font-fontface('Lato', 'Lato-Hai-webfont', 100); }
@font-face { @include font-fontface('icomoon', 'icomoon'); }
@font-face { @include font-fontface('NotoSerif', 'notoserif-regular'); }


