@font-face {
    font-family: 'Typewriter-Light';
    src: url('/fonts/a.eot');
}

@font-face {
    font-family: 'Typewriter-Light';
    src: url('/fonts/a.woff') format('woff'),
                 url('/fonts/a.svg#Typewriter-Light') format('svg');
}

@font-face {
    font-family: 'Typewriter-Medium';
    src: url('/fonts/b.eot');
}

@font-face {
    font-family: 'Typewriter-Medium';
    src: url('/fonts/b.woff') format('woff'),
                 url('/fonts/b.svg#Typewriter-Medium') format('svg');
}


@font-face {
    font-family: 'apercurregular';
    src: url('/fonts/ap.eot');
    src: url('/fonts/ap.eot?#iefix') format('embedded-opentype'),
                 url('/fonts/ap.woff') format('woff'),
                 url('/fonts/ap.ttf') format('truetype'),
                 url('/fonts/ap.svg#apercurregular') format('svg');
    font-weight: normal;
    font-style: normal;

}