/* --|-----------------------------------------------------------------------
   typography.heading
   -------------------------------------------------------------------------- */


h1 { 
  font:                 font-config(146%, 600); 
}

h2 { 

  font:                 font-config(100%, 600); 

}

h3 {
  font: font-config(140%, 400);

  @include at-size($s) {
    font-size: 130%;
  }
}

h5 { font: font-config(84%, 400); }
h6 { font: font-config(13px, 400); }
