/**
*
* Test fixture for sassdocjs tests
*
* @module fixtures/test02.scss
*/

/** @var {Object} lookup list for sprite positions */
$sprites-hash:
  arrowback 11,
  arrow-icon 12,
  arrow-back 20,
  arrow2 18,
  mapicon 23,
  facebook-disc 13,
  twitter-disc 16,
  youtube-disc 19,
  share-disc 22,
  facebook 1,
  twitter 2,
  youtube 3,
  share 4,
  listview 22,
  calview 7,
  arrow-circled 21,
  sort-up 17,
  sort-down 19,
  expand-plus 21,
  expand-minus 22,
  galleryview 10;


/**
* mixin for creating horizontal or vertical list of items
*  e.g. floated DIV or LI elemenents for navigation or grouping
*
* @mixin     sprite
* @param     $size {String} acceptable values are horizontal or vertical
* @param     $color {Number} margin to apply to right (horizontal) or bottom (vertical)
* @param     $name {Number} optional width
* @param     $placement {Number} optional if supplied this should be the number of total elements
* @param     $index-only {Bool} use float vs. inline-block
  ---------------------------------------------------------- */
@function sprite(

$size:      32px,
$color:     black,
$name:      none,
$placement: left,
$index-only: false
) {

  $image: transparent url('/Content/Images/sprites-#{$size}.png') no-repeat;
  $offset: $size;
  $icon-multipliers: black 0, gray 1, orange 2;

  $multiplier: 1;

  @each $m in $icon-multipliers {
    @if $color == nth($m, 1) {
      $multiplier: nth($m, 2);
    }
  }

  $position: -1;

  @each $s in $sprites-hash {
    @if $name == nth($s, 1) { $position: nth($s, 2); }
  }

  $p: $position - 1;
  $a: $offset * 2;
  $x: $a * $p;
  $y: ($a * $sprite-count) * $multiplier;
  $z: ($y + $x) * -1;

  @if $name == arrowback {
    @debug $name;
    @debug $color;
    @debug $position;
    // @debug $offset;
    @debug $p;
    @debug $multiplier;
    @debug $x;
    @debug $y;
    @debug $z;
  }
  //@debug $z;

  @if($index-only == true) {
    @return $z;
  } @else {
    @return $image 0px $z;
  }
}





