/**
* Test fixture for sassdocjs tests
* @module fixtures/test01.scss
*/

/** @var {String} backround image path to sprite file */
$icon-sprite:                           url('/images/sprite.png') no-repeat;

/** @var {Number} number of sprites to expect in file */
$sprite-count:                          23;

/** @var {String} default sprite file to use */
$default-sprite:                        $icon-sprite;

/** @var {Number} with of sprited elements */
$default-sprite-element-width:          $icon-sprite-element-width;

/** @var {Number} height of sprited elements */
$default-sprite-element-height:         $icon-sprite-element-height;

/**
* mixin for creating horizontal or vertical list of items
* e.g. floated DIV or LI elemenents for navigation or grouping
*
* @param     $item-position {String} acceptable values are horizontal or vertical
* @param     $style-position {Number} margin to apply to right (horizontal) or bottom (vertical)
* @param     $image-file {Number} optional width
* @param     $sprite-width {Number} optional if supplied this should be the number of total elements
* @param     $sprite-height {Bool} use float vs. inline-block
* @example
*   background: sprite(24px, gray, mapicon);
*   &:hover {
*     background: sprite(24px, orange, mapicon);
*   }
*/
@mixin sprite($item-position: 0,
              $style-position: 0,
              $image-file: $default-sprite,
              $sprite-width:  $default-sprite-element-width,
              $sprite-height: $default-sprite-element-height)
{
  $pos-x: -1 * ($style-position * $sprite-width);
  $pos-y: -1 * ($item-position * $sprite-height);

  @debug $pos-x;
  @debug $pos-y;

  background: $image-file $pos-x $pos-y;

}

/**
* Creates a repeated border from an image
*
* @param      $location {String} acceptable values are horizontal or vertical
* @param      $color {String|Color} a string or hex/rgba color value to use for the border
* @param      $background-image {String} a background image url
*
* @returns {Style} bordered left content
* @example
*   makeborder($lastname: something);
*/
@function makeborder($location,
                     $color: transparent,
                     $background-image: none)
{
  @return $color $background-image repeat-x $location;
}

/**
* description for m-listitem-base.
* @extends %l-cleared-container
*/
%m-listitem-base {
  @extend %l-cleared-container;
  width: 100%;
  h3 {
    margin: 12px 0px 10px 0px;
    text-transform: uppercase;
    font: fontconfig(22px, 400);
  }
}

/**
* description poop stuff it does
*/
.m-listitem-location {
  font: swt-fontconfig(72%, 600);
  margin-top: 8px;
}

/**
* description poop stuff it does
* @extends %swm-ul-navigation
*/
#menu-links {
  @extend %swm-ul-navigation;
  position: absolute;
  bottom:8px;
  left: 294px;
}
