/* ==|=======================================================================
   base.extensions
   ========================================================================== */
$number-to-hex-hexes: 0 1 2 3 4 5 6 7 8 9 A B C D E F;

/* 
   properties necessary for responsive images
   @usage:
   @extend %m-image-responsive;
   ---------------------------------------------------------- */
@function number-to-hex($number, $width: 2) {
  $s: nth($number-to-hex-hexes, ($number % 16) + 1);
  @if $width > 1 {
    @return number-to-hex(floor($number / 16), $width - 1) + "#{$s}";
  } @else {
    @return "#{$s}";
  }
}

@mixin portrait() {
     @media screen and (max-width:600px) and (orientation: landscape) { @content; }
}



/* 
   properties necessary for responsive images
   @usage:
   @extend %m-image-responsive;
   ---------------------------------------------------------- */
@mixin at-size($size) {
  @media only screen and (max-width: $size) { @content; }
}



/* 
   properties necessary for responsive images
   @usage:
   @extend %m-image-responsive;
   ---------------------------------------------------------- */
@function evenfill($direction, $numitems, $baseline: 0) {
  @return (100-$baseline)/$numitems;

}

/* 
   properties necessary for responsive images
   @usage:
   @extend %m-image-responsive;
   ---------------------------------------------------------- */
@function contains($list,$var) {
  @return (false == index($list, $var));
}

/* 
   properties necessary for responsive images
   @usage:
   @extend %m-image-responsive;
   ---------------------------------------------------------- */
@function pxToEm($target, $context){
        @return ($target/$context)+0em;
}

/* 
   properties necessary for responsive images
   @usage:
   @extend %m-image-responsive;
   ---------------------------------------------------------- */
@function emToPx($val, $base: 16px){
  $tmp: strip-units($val);
  @return ($tmp*$base)+0px;
}

/* 
   properties necessary for responsive images
   @usage:
   @extend %m-image-responsive;
   ---------------------------------------------------------- */
@function emp($emval, $base: 16px) {
  @if (unitless($emval)) {
    $emval: $emval * 1em;
  }


  @return $pxval / $base * 1px;
}

/* 
   properties necessary for responsive images
   @usage:
   @extend %m-image-responsive;
   ---------------------------------------------------------- */
@function strip-units($number) {
  @return $number / ($number * 0 + 1);
}
/* 
   properties necessary for responsive images
   @usage:
   @extend %m-image-responsive;
   ---------------------------------------------------------- */
 @function em($target, $base: 16) {
  @return ($target/$base) * 1em;
 }





