
$l:                                     61.250em;              // 980px
$m:                                     53.750em;              // 860px
$ms:									37.500em;				// 600px		
$s:                                    30em;                   // 480px

$font-head:                             'Typewriter-Light', 'courier new', 'courier';
$font-head-bold:                        'Typewriter-Medium', 'courier new', 'courier';

$font-copy:                             'News Cycle', sans-serif; // 400, 700
$font-copy-alt:                         'Cutive', sans-serif; // 400, 700
$font-code:                             'Oxygen Mono', monospace sans-serif;
$font-code-alt:							'Cutive Mono', monospace sans-serif;

$palette-default:                       rgba(0,0,0,1.0);
$palette-inverse:                       rgba(255,255,255,1.0);

$palette-a:                             rgba(21, 40, 54,1.0);
$palette-b:                             rgba(27, 54, 71,1.0);
$palette-c:                             rgba(22,107,162,1.0);
$palette-d:                             rgba(22, 145, 190,1.0);
$palette-e:                             rgba(233, 147, 26,1.0);

$color-default:                           $palette-default;

