/*€
 BREAKPOINTS
 ------------------------------------ */
$xl:                                    100em;                       // 1200
$l:                                     75em;                   // 980px
$m:                                     53em;                       // 848px
$s:                                     20em;                       // 320px

/*FRAME
 ------------------------------------ */
$size-content:                          90%;

$root-fonts:                            'fonts';

$color-default:                           $palette-default;
$color-default-alpha:                     rgba($color-default, .9);
$color-default-beta:                      rgba($color-default, .7);
$color-default-gamma:                     rgba($color-default, .5);
$color-default-delta:                     rgba($color-default, .3);
$color-default-epsilon:                   rgba($color-default, .1);

$color-inverse:                           $palette-inverse;
$color-inverse-alpha:                     rgba($color-inverse, .7);
$color-inverse-beta:                      rgba($color-inverse, .5);
$color-inverse-gamma:                     rgba($color-inverse, .3);
$color-inverse-delta:                     rgba($color-inverse, .2);
$color-inverse-epsilon:                   rgba($color-inverse, .1);

$color-a:                               $palette-a;
$color-a-alpha:                         lighten($color-a, 10%);
$color-a-beta:                          lighten($color-a, 20%);
$color-a-gamma:                         lighten($color-a, 30%);
$color-a-delta:                         lighten($color-a, 40%);
$color-a-epsilon:                       lighten($color-a, 45%);

$color-b:                               $palette-b;
$color-b-alpha:                         lighten($color-b, 10%);
$color-b-beta:                          lighten($color-b, 20%);
$color-b-gamma:                         lighten($color-b, 30%);
$color-b-delta:                         lighten($color-b, 40%);
$color-b-epsilon:                       lighten($color-b, 45%);

$color-c:                               $palette-c;
$color-c-alpha:                         lighten($color-c, 10%);
$color-c-beta:                          lighten($color-c, 20%);
$color-c-gamma:                         lighten($color-c, 30%);
$color-c-delta:                         lighten($color-c, 40%);
$color-c-epsilon:                       lighten($color-c, 45%);

$color-d:                               $palette-d;
$color-d-alpha:                         lighten($color-d, 10%);
$color-d-beta:                          lighten($color-d, 20%);
$color-d-gamma:                         lighten($color-d, 30%);
$color-d-delta:                         lighten($color-d, 40%);
$color-d-epsilon:                       lighten($color-d, 45%);

$color-e:                               $palette-e;
$color-e-alpha:                         lighten($color-e, 10%);
$color-e-beta:                          lighten($color-e, 20%);
$color-e-gamma:                         lighten($color-e, 30%);
$color-e-delta:                         lighten($color-e, 40%);
$color-e-epsilon:                       lighten($color-e, 45%);

// main
$color-default:                         $color-default;
$color-hover:                           $color-inverse-epsilon;
$color-accent:                          $color-inverse-delta;
$color-accent-alt:                      $color-default-epsilon;

$color-selected:                        $color-a;
$color-selected-bg:                     $color-inverse-epsilon;
$color-disabled:                        rgba($color-inverse, .8);
$color-disabled-bg:                     $color-default-gamma;

// toc
$color-toc: 							$color-inverse;
$color-toc-bg:                       	$color-c;

// entries
$color-entry-name:                      $color-e;
$color-code-link:                       $color-default-delta;
$color-params-thead:                    $color-d-gamma;
