/*
 * Site:       sassdocjs template
 * Inspired by SMACSS http://smacss.com
 */

@charset "UTF-8";

/**
 * VENDOR..............sass-ref frameworks, plugin css, etc
 * BASE................global mixins/functions, reset.css
 * APP.................config, default colors, breakpoints, etc
 * TYPOGRAPHY..........fonts, headings, anything type related
 * FORMS...............form elements, buttons, etc
 * LAYOUT..............top level layout, html, body, header, footer, viewport
 * MODULES.............app-specific objects
 * !IMPORTANT..........overrides (hack?)
 */

@import url(http://fonts.googleapis.com/css?family=Lato:300,400|Source+Code+Pro:300,400|Amaranth:400,700|Alegreya:400,700);

$font-head-family:                      'Amaranth', 'Georgia', serif;
$font-head-weight:                      700;
$font-head-size:                        260%;

$font-subhead-family:                   'Alegreya', sans-serif;;
$font-subhead-weight:                   400;
$font-subhead-size:                     140%;

$font-copy-family:                      'Lato', sans-serif;;
$font-copy-weight:                      400;
$font-copy-size:                        16px;
$font-copy-strong:                      700;


$font-code-family:                      'Source Code Pro', monospace, sans-serif;
$font-code-weight:                      4   00;
$font-code-size:                        15px;

$copy-line-height:                      24px;
// colors
$palette-default:                       rgba(0,0,0,1.0);
$palette-inverse:                       rgba(255,255,255,1.0);

$palette-b:                             rgba(61,79,99,1.0);
$palette-a:                             rgba(70,169,224,1.0);
$palette-c:                             rgba(237,100,84,1.0);
$palette-d:                             rgba(192,192,192,1.0);
$palette-e:                             rgba(125,139,140,1.0);

// base
@import "config";
@import "base/_extensions";
@import "base/_base";

// typography
@import "typography/_extensions";
@import "typography/_fonts";
@import "typography/_typography";

// layout
@import "layout/_extensions";
@import "layout/_layouts";

// modules
@import "modules/_extensions";
@import "modules/_modules";

