/*
 * Site:       sassdocjs template
 * Inspired by SMACSS http://smacss.com
 */

@charset "UTF-8";

/**
 * VENDOR..............sass-ref frameworks, plugin css, etc
 * BASE................global mixins/functions, reset.css
 * APP.................config, default colors, breakpoints, etc
 * TYPOGRAPHY..........fonts, headings, anything type related
 * FORMS...............form elements, buttons, etc
 * LAYOUT..............top level layout, html, body, header, footer, viewport
 * MODULES.............app-specific objects
 * !IMPORTANT..........overrides (hack?)
 */

@import url(http://fonts.googleapis.com/css?family=News+Cycle:400,700|Oxygen+Mono|Bevan);

$font-head-family:                      'Bevan', 'Georgia', serif;
$font-head-weight:                      400;
$font-head-size:                        260%;

$font-subhead-family:                   'News Cycle', sans-serif;;
$font-subhead-weight:                   400;
$font-subhead-size:                     140%;

$font-copy-family:                      'News Cycle', sans-serif;;
$font-copy-weight:                      400;
$font-copy-size:                        16px;
$font-copy-strong:                      700;


$font-code-family:                      'Oxygen Mono', monospace, sans-serif;
$font-code-weight:                      300;
$font-code-size:                        15px;

$copy-line-height:                      24px;

$palette-default:                       rgba(0,0,0,1.0);
$palette-inverse:                       rgba(255,255,255,1.0);

$palette-a:                             rgba(21, 40, 54,1.0);
$palette-b:                             rgba(27, 54, 71,1.0);
$palette-c:                             rgba(22,107,162,1.0);
$palette-d:                             rgba(22, 145, 190,1.0);
$palette-e:                             rgba(233, 147, 26,1.0);

// base
@import "config";
@import "base/_extensions";
@import "base/_base";

// typography
@import "typography/_extensions";
@import "typography/_fonts";
@import "typography/_typography";

// layout
@import "layout/_extensions";
@import "layout/_layouts";

// modules
@import "modules/_extensions";
@import "modules/_modules";

