
.switch {
    position: relative;
    margin: 20px 0;
    height: 26px;
    width: 120px;


}
.switch-link {
    display: block;
    float: left;
    width: 60px;
}


.switch-selection {

    display: block;
    clear: left;
    height: 4px;
    background: $color-selected-bg;
    width: 60px;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}

.switch-selection-yes {
    margin-left: 60px;
}