/* --|-----------------------------------------------------------------------
   typography.classes
   -------------------------------------------------------------------------- */
%copy {

  font: font-config(12px, 400);
  color:  $color-default;
  line-height: 18px;

}

@mixin copytext() {
  font: font-config(13px, 400);
  line-height: 18px;

  margin-bottom: 20px;
}

.uppercase { text-transform: uppercase; }


.copy-g1i {
  font: font-config(11px, 300);


}

.copy-emphasis-1 {
  color: $color-default;
  font-weight: 700;
}

.emphasis {
  font-weight: 700;
}

.emphasis-beta {
  font-weight: 700;
  color: $color-default;
}
